/*--width 1700 --*/
@media (max-width: 1700px) {
  .index2-slider-wrapper {
    padding: 91px 0;
    margin-top: -97px;
  }
  .index2-slider-wrapper .index2-slider-img img {
    width: 80%;
    margin-left: 145px;
  }
  .index2-slider-wrapper:after {
    width: 30%;
    height: 159px;
    background-size: contain;
  }
  .index2-slider-wrapper .slider-caption {
    padding-top: 100px;
  }
}
/*--width 1700 --*/
@media (max-width: 1700px) {
  .index2-pricing-wrapper:after {
    width: 620px;
  }
  .index2-pricing-wrapper:before {
    width: 620px;
  }
}
@media (max-width: 1599px) {
  .index3-slider-wrapper .index2-slider-img img {
    margin-left: 80px;
  }
}
@media (max-width: 1480px) {
  .index3-slider-wrapper .index2-slider-img img {
    margin-left: 40px;
  }
}
/*--width 1400 --*/
@media (max-width: 1400px) {
  .professional-main-wrapper .left-side h2 {
    font-size: 45px;
  }
  .professional-main-wrapper .right-side h2 {
    font-size: 45px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .index1-logo {
    width: 165px;
  }
  .employment-main-wrapper .employe-job-box:before {
    width: 62%;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-comment .post-com-text {
    padding: 28px;
  }
}
/*--width 1366 --*/
@media (max-width: 1366px) {
  .million-jobs-main-wrapper .job-details-main-wrapper {
    max-width: 500px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .index1-logo {
    width: 150px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a {
    padding: 0px 5px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .social-media-icons li + li {
    margin-left: 11px;
  }
  .inner-page-main-wrapper .sidebar_widget .freelauncer-select-box .instra li {
    width: 40%;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav {
    justify-content: center;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text .rating-sec {
    position: initial;
    padding: 12px 0px;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 25%;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon a {
    width: 110px;
    height: 110px;
    line-height: 85px;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text .rating-sec {
    justify-content: flex-start;
  }
  .treding-job-wrapper .custom-tab .tab-panel .tab-content .trending-main-box .trending-upper-text h5 {
    font-size: 18px;
  }
  .footer-main-wrapper .links .input-box button {
    padding: 5px 14px;
    font-size: 12px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .social-media-icons li .post-btn {
    width: 130px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .social-media-icons li .post-btn span {
    padding-right: 0;
  }
}
@media (max-width: 1399px) {
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one .love-footer .love-btn a {
    padding: 9px 12px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one .love-footer .love-btn a {
    padding: 9px 12px;
  }
}
/*--width 1300 --*/
@media (max-width: 1300px) {
  .index2-slider-wrapper {
    background: #6cdfff;
    background-image: none;
    padding-bottom: 40px;
  }
  .index2-slider-wrapper .index2-slider-img img {
    width: 100%;
    margin-left: 0;
    padding-top: 30px;
  }
  .popular-category-wrapper {
    padding-top: 100px;
  }
  .popular-category-wrapper:before {
    width: 30%;
    top: 60px;
  }
  .highest-freelancer-main-wrapper .frrelncer-slider .owl-dots {
    display: none;
  }
  .index3-slider-wrapper .project-pipe-wrapper {
    z-index: 1;
  }
}
/*---- width 1111 ----*/
@media (max-width: 1111px) {
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one {
    padding: 20px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one {
    padding: 20px;
  }
}
/*--width 1100 --*/
@media (max-width: 1100px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .index1-logo {
    width: 120px;
    padding-right: 20px;
    padding-top: 25px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .index1-logo a img {
    width: 100%;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav {
    justify-content: left;
  }
}
/*--width 1199 --*/
@media (max-width: 1199px) {
  .million-jobs-main-wrapper {
    background-color: #0060aa;
    background-image: none;
  }
  .million-jobs-main-wrapper .million-text-wrapper {
    width: 100%;
  }
  .million-jobs-main-wrapper .job-details-main-wrapper {
    margin: auto;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a {
    font-size: 15px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .social-media-icons li .post-btn {
    width: 130px;
  }
  .inner-page-main-wrapper .side-bar-social ul li a {
    width: 40px;
    height: 40px;
    line-height: 36px;
  }
  .inner-page-main-wrapper .side-bar-social ul li a span svg {
    width: 16px;
    height: 16px;
  }
  .inner-page-main-wrapper .side-bar-social ul li + li {
    margin-left: 5px;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 22%;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form {
    padding-right: 20px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .social-media-icons .dekstop-login-btn {
    display: none;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .social-media-icons .login-btn {
    display: block;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-picture img {
    width: 100%;
  }
  .container {
    max-width: 1120px;
  }
  .download-mobile-wrapper .mobile-img img {
    width: 100%;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-comment .post-com-text {
    padding: 18px;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-picture .play-btn img {
    width: auto;
  }
  .index3-slider-wrapper .index2-slider-img img {
    margin-left: 0px;
  }
}
/*--width 1050 --*/
@media (max-width: 1050px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a span {
    display: contents;
    margin-left: 0;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li {
    padding: 0;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a {
    padding: 36px 5px;
  }
  .blog-main-wrapper .blog-box .blog-content h3 {
    font-size: 18px;
  }
  .inner-page-main-wrapper .blog-box .blog-content ul {
    width: 100%;
  }
  .inner-page-main-wrapper .blog-box .blog-content ul li {
    width: auto;
  }
  .inner-page-main-wrapper .blog-box .blog-content ul li + li {
    margin-left: 15px;
  }
  .inner-page-main-wrapper .blog-box .blog-content ul li i {
    padding-right: 9px;
  }
  .inner-page-main-wrapper .blog-box .blog-content .google-text ul li + li {
    margin-left: 0px;
  }
  .inner-page-main-wrapper .comment-form-main-wrapper .comment-post-form form .form-check-line input {
    width: 30px;
    float: left;
  }
  .inner-page-main-wrapper .comment-form-main-wrapper .comment-post-form form .form-check-line label {
    float: left;
    width: calc(100% - 30px);
    line-height: 18px;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form .login-btn-sec .sub-btn {
    width: 124px;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form .login-btn-sec .social-btn ul li + li {
    margin-left: 4px;
  }
}
/*--width 1024 --*/
@media (max-width: 1024px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a {
    padding: 36px 0px;
  }
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li + li {
    margin-left: 9px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .test-content {
    padding-left: 35px;
  }
}
/*--width 995 --*/
@media (max-width: 995px) {
  .main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li + li {
    margin-left: 8px;
  }
}
/*--width 993 --*/
@media (max-width: 993px) {
  .index1-slider-wrapper {
    margin-top: -124px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 900px;
  }
  .inner-page-main-wrapper .sidebar_text {
    padding: 15px 30px 40px;
  }
  .inner-page-main-wrapper {
    margin: 55px 0px;
  }
  .inner-page-main-wrapper .blog-main-wrapper .blog-box .blog-content .brand-logo {
    left: 30%;
  }
  .inner-page-main-wrapper .comment-form-main-wrapper .right-space {
    padding-left: 30px;
  }
  .inner-page-main-wrapper .blog-box .img-icon .owl-nav {
    bottom: 175px;
  }
  .inner-page-main-wrapper .blog-box .img-icon .owl-nav .owl-prev span {
    width: 40px;
    height: 40px;
    line-height: 32px;
  }
  .inner-page-main-wrapper .blog-box .img-icon .owl-nav .owl-next span {
    width: 40px;
    height: 40px;
    line-height: 32px;
  }
  .inner-page-main-wrapper .blog-box .img-icon p {
    width: 55px;
    height: 55px;
    font-size: 18px;
  }
  .inner-page-main-wrapper .side-bar-social ul li + li {
    margin-bottom: 8px;
  }
  .inner-page-main-wrapper .flowtech-sidebar .middle-details {
    flex-flow: column;
  }
  .inner-page-main-wrapper .flowtech-sidebar .middle-details .barcode-text {
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text {
    width: 100%;
    padding-top: 24px;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text .rating-sec {
    justify-content: flex-start;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 35%;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box {
    margin-bottom: 70px;
  }
  .freelauncer-slider-wrapper {
    padding: 130px 0px 346px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .profile-photo {
    padding-right: 0;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .profile-photo .user-details h4 {
    font-size: 18px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .project-box .project-line .pro-icon img {
    width: 35px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .project-box .project-line .pro-icon {
    width: 56px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .project-box .project-line .pro-desc {
    width: calc(100% - 56px);
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .project-box .project-line .pro-desc h2 {
    font-size: 20px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .project-box .project-line .pro-desc p {
    font-size: 15px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .project-box .project-line .custom-btn {
    width: 100%;
  }
  .inner-page-main-wrapper .sidebar_widget .custom-check .form-group label {
    font-size: 14px;
  }
  .login_box_main_wrapper .signin-wrapper .login-img img {
    width: 315px;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form {
    padding-right: 0;
  }
  .team-three-wrapper .team-three-wrapper .team-three-img img {
    width: 100%;
  }
  .index1-listing-slider-wrapper {
    margin-top: 70px;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons ul .user-text {
    right: -22px;
  }
  .index2-pricing-wrapper:after {
    top: 0px;
    height: 33%;
  }
  .index2-pricing-wrapper:before {
    height: 26%;
    top: 230px;
  }
  .index2-slider-wrapper .index2-slider-img {
    float: left;
    text-align: center;
  }
  .index2-slider-wrapper .index2-slider-img img {
    width: 50%;
  }
  .index2-slider-wrapper {
    margin-top: 0;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-comment {
    margin-top: 50px;
  }
  .pricing-main-wrapper .custom-pricing-wrapper {
    margin-top: 66px;
  }
  .right-jobs-wrapper .project-wrapper {
    margin-top: 70px;
  }
  .index2-footer-wrapper {
    background-color: #57e8ff;
    background-image: none;
    padding: 40px 0px 0px;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-picture .play-btn {
    left: 45%;
  }
  /*---- index-three ----*/
  .index3-slider-wrapper {
    background-color: #2276e3;
    margin-top: 0;
  }
  .index3-slider-wrapper .slider-form {
    margin-bottom: 60px;
  }
  .index3-slider-wrapper .slider-form form .select-field:after {
    right: 155px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-pagination {
    right: 160px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-prev {
    right: 100px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-next {
    right: 75px;
  }
  .love-job-main-wrapper .love-post-wrapper {
    margin-top: 30px;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one {
    padding: 30px;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one a h5 {
    font-size: 20px;
    line-height: 25px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one {
    padding: 30px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one a h5 {
    font-size: 20px;
    line-height: 25px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-two a h5 {
    max-width: 200px;
  }
  .love-job-main-wrapper .home1-section-heading1 h4 br {
    display: none;
  }
  .index3-slider-wrapper .slider-caption {
    padding-top: 100px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .test-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .love-job-main-wrapper .home1-section-heading1 {
    padding-top: 0px;
  }
  .skill-link-main-wrapper .skill-link-list {
    margin-top: 40px;
  }
  .million-job-main-wrapper .checks-wrapper .check-left .check-item h5 {
    font-size: 30px;
  }
  .index3-slider-wrapper .slider-caption p {
    color: #fff;
  }
  .index3-slider-wrapper .slider-caption h2 {
    color: #fff;
  }
}
/*--width 820 --*/
@media (max-width: 820px) {
  .login_box_main_wrapper .signin-wrapper .left-side form .login-btn-sec .social-btn span {
    padding: 0px 10px;
  }
}
@media (max-width: 767px) {
  .ptb-100 {
    padding: 60px 0;
  }
  .freelauncer-main-wrapper .freelauncer-profile .profile-text .rating-sec {
    position: inherit;
    margin-top: 20px;
  }
  .freelauncer-main-wrapper .freelauncer-profile .profile-text .skill {
    flex-direction: column;
  }
  .freelauncer-main-wrapper .freelauncer-profile .profile-text .skill .skill-text {
    margin-right: 0;
  }
  .professional-main-wrapper .left-side h2 {
    font-size: 30px;
  }
  .professional-main-wrapper .right-side h2 {
    font-size: 30px;
  }
  .index1-slider-wrapper .overlay-slider .sldier-contact-form ul li {
    width: 100%;
  }
  .index1-slider-wrapper .overlay-slider .sldier-contact-form .treding-list li {
    display: inline-block;
  }
  .index1-slider-wrapper .overlay-slider .sldier-contact-form .treding-list {
    display: block;
  }
  .pricing-main-wrapper .custom-pricing-wrapper .tab-content .pricing-main-box {
    margin-bottom: 30px;
  }
  .inner-page-main-wrapper .custom-pegination {
    padding-bottom: 30px;
  }
  .inner-page-main-wrapper .sidebar_widget .related-post .realted-box {
    margin-bottom: 24px;
  }
  .inner-page-main-wrapper .sidebar_widget .freelauncer-select-box .instra li {
    width: 30%;
  }
  .inner-page-main-wrapper .comment-form-main-wrapper .comment-post-form form .form-group .mar-bot {
    margin-bottom: 15px;
  }
  .inner-page-main-wrapper .sidebar_widget {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .inner-page-main-wrapper .comment-main-wrapper {
    margin-top: 30px;
  }
  .inner-page-main-wrapper .blog-social {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 30%;
  }
  .inner-page-main-wrapper .locate-main-wrapper .leave-form {
    padding-left: 0;
    padding-top: 30px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .profile-description {
    padding: 20px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .profile-photo {
    padding: 20px;
  }
  .freelauncer-page-main-wrapper .freelauncer-summary .project-box {
    border-left: 0;
  }
  .freelauncer-page-main-wrapper .inner_widget .portfolio-main-wrapper .portfolio-box .overlay-port {
    top: 245px;
  }
  .inner-page-main-wrapper .develop_main_wrapper .bid_button {
    margin-top: 20px;
  }
  .inner-page-main-wrapper .develop_main_wrapper {
    display: block;
  }
  .inner-page-main-wrapper .develop_main_wrapper .develop-cont h3 {
    font-size: 18px;
  }
  .inner-page-main-wrapper .descript_main_wrapper h4 {
    font-size: 18px;
  }
  .inner-page-main-wrapper .descript_main_wrapper p {
    padding: 15px 30px;
  }
  .inner-page-main-wrapper .descript_main_wrapper .proposal_main_sec .proposal_img_text {
    display: block;
  }
  .inner-page-main-wrapper .descript_main_wrapper .proposal_main_sec {
    display: block;
  }
  .inner-page-main-wrapper .descript_main_wrapper .proposal_main_sec .proposal_img_text .proposal_text {
    float: left;
    width: 100%;
    padding-top: 20px;
  }
  .login_box_main_wrapper .signin-wrapper .login-img {
    display: none;
  }
  .login_box_main_wrapper .form-tabs .nav-pills li + li {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .login_box_main_wrapper .form-tabs .nav-pills li {
    margin-left: 0px;
  }
  .custom-height {
    height: 132vh !important;
  }
  .login_box_main_wrapper .signin-wrapper .right-side {
    display: none;
  }
  .custom-height {
    height: 125vh !important;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form .dekstop-hidden {
    display: block;
  }
  .pricing-main-wrapper .custom-pricing-wrapper .nav-pills li {
    margin-left: 0;
  }
  .pricing-main-wrapper .custom-pricing-wrapper .nav-pills li + li {
    margin-bottom: 0;
  }
  .footer-main-wrapper {
    padding: 50px 0px 0px;
  }
  .testimonial-four-wrapper .forth-slider .owl-carousel .owl-item .testimonial-slider .test-content {
    padding-left: 70px;
    padding-top: 16px;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .ewr_mppro_clm {
    flex-direction: column;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .ewr_mppro_clm li {
    width: 100%;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .ewr_mppro_clm .topic-box {
    width: 100%;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .ewr_popular_article_wrap .ewr_article_list {
    flex-direction: column;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .ewr_popular_article_wrap .ewr_article_list li {
    width: 100%;
  }
  .inner-page-main-wrapper .ewr_search_infobox .ewr_search_proj {
    width: 100%;
  }
  .inner-page-main-wrapper .ewr_search_infobox .ewr_search_proj_list {
    width: 100%;
  }
  .inner-page-main-wrapper .ewr_search_infobox .ewr_search_proj_list .ewr_search_proj_info {
    padding: 0px 25px 20px;
  }
  .index2-pricing-wrapper:before {
    display: none;
  }
  .index2-pricing-wrapper:after {
    display: none;
  }
  .employment-main-wrapper .employe-job-box:before {
    display: none;
  }
  .index2-slider-wrapper .slider-form form input {
    margin-bottom: 30px;
  }
  .index2-slider-wrapper .slider-form form select {
    margin-bottom: 30px;
  }
  .plan-package-main-wrapper .custom-package-tab .tab-content .package-box {
    margin-bottom: 30px;
  }
  .plan-package-main-wrapper .custom-package-tab .nav-pills .nav-item {
    margin-left: 0;
  }
  .nav-pills > li + li {
    margin-left: 30px;
    margin-bottom: 0;
  }
  .client-say-wrapper .home1-section-heading1 {
    text-align: center;
    padding-top: 0;
  }
  .client-say-wrapper .home1-section-heading1:after {
    left: 45%;
  }
  .client-say-wrapper .home1-section-heading1:before {
    left: 48%;
  }
  .client-say-wrapper .heading-text {
    margin: auto;
  }
  .index2-footer-wrapper .bottom-footer {
    margin-top: 30px;
  }
  .index2-footer-wrapper .bottom-footer p {
    text-align: center;
    padding-bottom: 15px;
  }
  .index2-footer-wrapper .bottom-footer ul {
    float: left;
    text-align: center;
    width: 100%;
  }
  .index3-footer-wrapper .bottom-footer p {
    text-align: center;
    padding-bottom: 15px;
  }
  .index3-footer-wrapper .bottom-footer ul {
    float: left;
    text-align: center;
    width: 100%;
  }
  .love-job-main-wrapper .home1-section-heading1 {
    padding-top: 0px;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one .love-footer .love-btn a {
    padding: 7px 7px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one .love-footer .love-btn a {
    padding: 7px 7px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text {
    padding: 40px 28px 28px 0px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .testi-icon {
    width: 60px;
    padding: 12px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .testi-icon span svg {
    width: 30px;
    height: 30px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .test-content {
    width: calc(100% - 80px);
    padding-left: 25px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .test-content .testi-img-text {
    margin-left: 85px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .test-content .testi-img-text h5 {
    font-size: 16px;
  }
  .awesome-client-wrapper .awesome-slider .testi-text .test-content .testi-img-text p {
    font-size: 14px;
  }
  .index3-slider-wrapper .slider-form form input {
    width: 100%;
  }
  .index3-slider-wrapper .slider-form form .select-field select {
    width: 100%;
  }
  .index3-slider-wrapper .slider-form form .select-field:after {
    right: 25px;
  }
  .download-mobile-wrapper .mobile-img {
    text-align: center;
    margin-top: 50px;
  }
  .download-mobile-wrapper .mobile-img img {
    width: 50%;
  }
  .footer-main-wrapper .links .app-btn {
    margin-bottom: 24px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-container {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 680px) {
  .professional-main-wrapper .right-side {
    padding-left: 45px;
  }
  .professional-main-wrapper .left-side {
    padding-right: 45px;
  }
  .index1-slider-wrapper .overlay-slider .sldier-contact-form ul {
    flex-flow: column;
  }
  .index1-slider-wrapper .overlay-slider .slider-caption h2 {
    font-size: 40px;
  }
  .index1-slider-wrapper {
    margin-top: 60px;
  }
  .index1-slider-wrapper .overlay-slider .slider-caption {
    padding-top: 80px;
  }
  .index1-slider-wrapper {
    padding: 370px 0px;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 28%;
  }
  .love-job-main-wrapper .love-post-wrapper {
    display: block;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .team-four-wrapper .owl-carousel .item .four-content {
    width: 100%;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-prev {
    right: 58px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-next {
    right: 38px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-pagination {
    right: 105px;
  }
}
/*---width 580--*/
@media (max-width: 580px) {
  .freelauncer-main-wrapper .freelauncer-profile .profile-img {
    width: 100%;
    float: left;
    padding-bottom: 30px;
  }
  .freelauncer-main-wrapper .freelauncer-profile .profile-text {
    width: 100%;
  }
  .category-main-wrapper .testi-slider .testi-text .test-content {
    width: 100%;
    padding-top: 20px;
  }
  .inner-page-main-wrapper .blog-box .blog-content .google-text {
    flex-direction: column;
  }
  .inner-page-main-wrapper .blog-box .blog-content .google-text ul {
    width: 100%;
  }
  .index1-listing-slider-wrapper {
    padding: 40px 0px;
  }
  .index1-listing-slider-wrapper .slider-text h4 {
    font-size: 24px;
  }
  .inner-page-main-wrapper .develop_main_wrapper .develop-cont ul {
    display: block;
  }
  .inner-page-main-wrapper .descript_main_wrapper .social-icon {
    flex-wrap: wrap;
  }
  .inner-page-main-wrapper .descript_main_wrapper h4 {
    padding: 20px 30px;
  }
  .inner-page-main-wrapper .descript_main_wrapper ul {
    padding: 0px 15px 30px;
  }
  .index3-slider-wrapper .project-pipe-wrapper .pro-pipe-main h5 {
    font-size: 16px;
  }
  .index3-slider-wrapper .project-pipe-wrapper .pro-pipe-main h5 span {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .professional-main-wrapper:before {
    width: 100%;
  }
  .professional-main-wrapper:after {
    display: none;
  }
  .professional-main-wrapper .left-side {
    padding-right: 0;
  }
  .professional-main-wrapper .left-side h2 {
    text-align: left;
  }
  .professional-main-wrapper .left-side a {
    float: left;
  }
  .professional-main-wrapper .right-side {
    padding-left: 0;
    padding-top: 40px;
  }
  .professional-main-wrapper {
    padding: 50px 0px;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 38%;
  }
  .freelauncer-page-main-wrapper .inner_widget .portfolio-main-wrapper .portfolio-box .overlay-port {
    top: 375px;
  }
  .freelauncer-page-main-wrapper .inner_widget .portfolio-main-wrapper .portfolio-box .overlay-port {
    padding-top: 130px;
  }
  .team-three-wrapper .team-three-wrapper {
    margin-bottom: 30px;
  }
  .testimonial-four-wrapper .forth-slider .owl-carousel .owl-item .testimonial-slider .test-content {
    width: 100%;
    padding-left: 0;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .budget_input_wrap {
    display: initial;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .budget_input_wrap .budget_input {
    width: 100%;
  }
  .inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .budget_input_wrap .budget_input + .budget_input {
    padding-left: 0;
    padding-top: 20px;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-comment .post-com-img {
    width: 100%;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-comment .post-com-img img {
    width: 100%;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-comment .post-com-text {
    width: 100%;
    padding: 30px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-prev {
    right: 30px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-prev i {
    font-size: 14px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-next {
    right: 12px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-next i {
    font-size: 14px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-pagination {
    right: 68px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-pagination span {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  .treding-job-wrapper .custom-tab .custom-pegination ul li + li {
    margin-bottom: 12px;
  }
  .inner-page-main-wrapper .blog-box .img-icon .owl-nav {
    position: initial;
  }
  .inner-page-main-wrapper .blog-box .img-icon .owl-nav .owl-prev {
    top: 40%;
  }
  .inner-page-main-wrapper .blog-box .img-icon .owl-nav .owl-next {
    top: 40%;
  }
  .inner-page-main-wrapper .custom-pegination ul li + li {
    margin-bottom: 12px;
  }
  .login_box_main_wrapper .signin-wrapper {
    padding: 20px;
  }
  .download-mobile-wrapper .mobile-img img {
    width: 100%;
  }
}
/*-- width 480 --*/
@media (max-width: 480px) {
  .index1-slider-wrapper .overlay-slider .slider-caption {
    padding-top: 30px;
  }
  .index1-slider-wrapper .overlay-slider .slider-caption h2 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }
  .explore-category-wrapper .home1-section-heading1 h4 {
    font-size: 30px;
  }
  .how-it-work-wrapper .home1-section-heading1 h4 {
    font-size: 30px;
  }
  .love-job-main-wrapper .home1-section-heading1 h4 {
    font-size: 30px;
  }
  .million-job-main-wrapper .home1-section-heading1 h4 {
    font-size: 30px;
  }
  .awesome-client-wrapper .home1-section-heading1 h4 {
    font-size: 30px;
  }
  .explore-category-wrapper .home1-section-heading1 h4 {
    font-size: 30px;
  }
  .freelauncer-main-wrapper .freelauncer-profile .profile-text .rating-sec {
    display: block;
    width: 100%;
  }
  .freelauncer-main-wrapper .freelauncer-profile .profile-text .rating-sec .rating-btn a {
    margin-left: 0;
    margin-right: 12px;
    margin-top: 20px;
  }
  .inner-page-main-wrapper .top-pipe-search-wrapper .search-box {
    width: 40%;
  }
  .inner-page-main-wrapper .top-pipe-search-wrapper .pegination {
    width: 60%;
  }
  .inner-page-main-wrapper .comment-form-main-wrapper .comment-one .commemt-text {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }
  .inner-page-main-wrapper .comment-main-wrapper .commemt-text {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .mobile-logo a img {
    width: 100px;
  }
  .inner-page-main-wrapper .blog-box .blog-content ul {
    flex-direction: column;
  }
  .inner-page-main-wrapper .blog-box .blog-content ul li + li {
    margin-left: 0;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon a {
    font-size: 24px;
  }
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 35%;
  }
  .cond label {
    font-size: 12px;
  }
  .freelauncer-page-main-wrapper .inner_widget .portfolio-main-wrapper .portfolio-box .overlay-port {
    padding-top: 90px;
  }
  .inner-page-main-wrapper .freelauncer-profile .skill .skill-text {
    width: 100%;
  }
  .inner-page-main-wrapper .freelauncer-profile .skill {
    display: block;
    width: 100%;
  }
  .client-say-wrapper .client-post-wrapper {
    flex-direction: column;
  }
  .client-say-wrapper .client-post-wrapper .left-side-client {
    width: 100%;
  }
  .client-say-wrapper .client-post-wrapper .right-side-client {
    width: 100%;
  }
  .download-mobile-wrapper .app-btn {
    flex-direction: column;
  }
  .download-mobile-wrapper .app-btn a + a {
    margin-left: 0;
    margin-top: 12px;
  }
  .download-mobile-wrapper .mobile-img {
    margin-top: 45px;
  }
  .download-mobile-wrapper:after {
    display: none;
  }
  .index2-slider-wrapper .slider-caption h2 {
    font-size: 38px;
    line-height: 50px;
  }
  .index2-slider-wrapper .slider-caption {
    padding-top: 30px;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-picture .play-btn {
    left: 38%;
    top: 33%;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love {
    width: 90%;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one {
    padding: 20px;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one a h5 {
    font-size: 18px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love {
    width: 90%;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one {
    padding: 20px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one a h5 {
    font-size: 18px;
  }
  .love-job-main-wrapper .love-post-wrapper .left-side-love .left-side-one .love-footer .love-text h5 {
    font-size: 16px;
  }
  .love-job-main-wrapper .love-post-wrapper .right-side-love .right-side-one .love-footer .love-text h5 {
    font-size: 16px;
  }
  .index3-slider-wrapper .slider-caption h2 {
    font-size: 38px;
    line-height: 50px;
  }
  .index3-slider-wrapper .slider-caption p {
    font-size: 16px;
  }
  .million-job-main-wrapper .checks-wrapper .check-left .check-item h5 {
    font-size: 30px;
  }
  .million-job-main-wrapper .checks-wrapper .check-left .check-item p {
    font-size: 14px;
  }
  .index3-slider-wrapper .project-pipe-wrapper .pro-pipe-main {
    display: block;
  }
  .index3-slider-wrapper .project-pipe-wrapper .pro-pipe-main h5 {
    margin-bottom: 10px;
  }
}
/*-- width 450 --*/
@media (max-width: 450px) {
  .inner-page-main-wrapper .top-pipe-search-wrapper .search-box {
    width: 100%;
  }
  .inner-page-main-wrapper .top-pipe-search-wrapper .pegination {
    width: 100%;
    float: left;
    text-align: left;
  }
  .index1-slider-wrapper .overlay-slider .sldier-contact-form ul .btn-from a {
    padding: 0;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text .rating-sec {
    flex-flow: column;
    width: 100%;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text .pro-add ul {
    flex-flow: column;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text .pro-add ul li + li {
    margin-left: 0;
  }
  .inner-page-main-wrapper .freelauncer-profile .profile-text .rating-sec .rating-btn a {
    margin-left: 0;
    margin-top: 10px;
    margin-right: 10px;
  }
  .freelauncer-page-main-wrapper .inner_widget .review-box .review-text {
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form .login-btn-sec .social-btn span {
    padding: 0px 12px;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form .login-btn-sec .sub-btn {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*-- width 420 --*/
@media (max-width: 420px) {
  .login_box_main_wrapper .form-tabs .nav-pills {
    max-width: 319px;
  }
  .login_box_main_wrapper .form-tabs .nav-pills .nav-item .nav-link {
    width: 105px;
  }
  .login_box_main_wrapper .gap-top {
    padding: 30px 0px 30px;
  }
  .login_box_main_wrapper .signin-wrapper .left-side h4 {
    font-size: 20px;
  }
  .awesome-client-wrapper .home1-section-heading1 h4 br {
    display: none;
  }
}
@media (max-width: 380px) {
  .inner-page-main-wrapper .contact-main-wrapper .contact-box .contact-icon {
    left: 30%;
  }
  .inner-page-main-wrapper .descript_main_wrapper .social-icon li h4 {
    padding-right: 0px;
  }
  .freelauncer-page-main-wrapper .inner_widget .portfolio-main-wrapper .portfolio-box .overlay-port {
    padding-top: 60px;
  }
  .inner-page-main-wrapper .post-project-main-wrapper {
    padding: 20px;
  }
  .index2-pricing-wrapper .custom-pricing-wrapper .tab-content .latest-job-main-wrapper .latest-text {
    width: 100%;
    padding-left: 0;
  }
  .post-latest-job-wrapper .latest-post-main-box .post-picture .play-btn {
    top: 26%;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-pagination {
    right: 75px;
    top: -8px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-prev {
    top: -8px;
  }
  .explore-category-wrapper .category-main-slider-wrapper .swiper-button-next {
    top: -8px;
  }
}
/*-- width 360 --*/
@media (max-width: 360px) {
  .index1-slider-wrapper .overlay-slider .slider-caption h2 {
    font-size: 28px;
  }
  .index1-slider-wrapper .overlay-slider .slider-caption p {
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
  }
  .index1-slider-wrapper .overlay-slider .sldier-contact-form .treding-list li {
    font-size: 13px;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form .forgot {
    font-size: 14px;
  }
  .login_box_main_wrapper .signin-wrapper .left-side form .round label span {
    font-size: 14px;
  }
  .cond label {
    line-height: 12px;
  }
  .login_box_main_wrapper .footer-form {
    padding-top: 12px;
  }
  .login_box_main_wrapper .footer-form p {
    font-size: 12px;
  }
  .login_box_main_wrapper .form-tabs .nav-pills .nav-item .nav-link {
    width: 96px;
  }
  .login_box_main_wrapper .form-tabs .nav-pills {
    max-width: 292px;
  }
  .main-header-wrapper1 .sb-main-header1 .mobile-menu-wrapper .social-media-icons {
    padding-left: 0px;
  }
  .awesome-client-wrapper .awesome-slider .owl-nav {
    top: -65px;
  }
}
/*--width 320 --*//*# sourceMappingURL=responsive.css.map */