@charset "UTF-8";
/**
 * 1.1 CSS Start
 *
 * Css styles starts here.
 */
body,
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 25px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
}

i:before {
  margin-left: 0 !important;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #0060aa;
  transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.1;
  font-weight: 500;
  color: #222222;
  margin: 0;
  padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #222222;
  transition: all 0.5s;
}

h1,
.h1 {
  font-size: 65px;
}

h2,
.h2 {
  font-size: 55px;
}

h3,
.h3 {
  font-size: 45px;
}

h4,
.h4 {
  font-size: 36px;
}

h5,
.h5 {
  font-size: 30px;
}

h6,
.h6 {
  font-size: 28px;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a {
  transition: all 0.5s;
}

p {
  margin: 0;
  color: #797979;
  font-size: 16px;
}

.sec-title {
  font-size: 22px;
  padding: 30px 0px;
}

input,
select,
button,
textarea {
  outline: none;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home1-section-heading1 {
  color: #e12454;
  text-align: center;
  padding-bottom: 12px;
}
.home1-section-heading1 h6 {
  text-transform: uppercase;
  font-size: 16px;
  color: #0060aa;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.home1-section-heading1 h4 {
  padding-top: 14px;
}

.home1-section-heading2 {
  text-align: center;
  font-weight: 600;
}

.float_left {
  float: left;
  width: 100%;
}

.p-0 {
  padding: 0 !important;
}

.border-none {
  border: none !important;
}

.ps-rel {
  position: relative;
}

.pe-0 {
  padding-right: 0px;
}

.plr-50 {
  padding: 0px 50px;
}

a.button-btn, button.button-btn {
  padding: 0px 55px;
  display: inline-block;
  background-color: #e12454;
  color: #fff;
  line-height: 50px;
  border-radius: 30px;
  text-align: left;
  padding-left: 22px;
  text-transform: capitalize;
  position: relative;
  z-index: 99;
  overflow: hidden;
  border: none;
  text-transform: uppercase;
}
a.button-btn:before, button.button-btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -4px;
  background-color: #b3183f;
  transform: translateX(-100%);
  z-index: -1;
  transition: 0.5s ease-in-out;
}
a.button-btn:hover, button.button-btn:hover {
  color: #fff;
  border-color: #ffd9db;
}
a.button-btn:hover:before, button.button-btn:hover:before {
  transform: translateX(0);
}
a.button-btn:hover span, button.button-btn:hover span {
  background-color: #e12454;
  color: #ffd9db;
}
a.button-btn span, button.button-btn span {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ffd9db;
  text-align: center;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #e12454;
  transition: all 0.5s;
}

.mobile-menu-wrapper {
  background-color: #e12454;
  padding: 15px 0px;
}
.mobile-menu-wrapper .toggle-main-wrapper {
  display: flex;
  justify-content: flex-end;
}

/**
 * 2.1 Preloader Section
 *
 * preloader css codes.
 */

/* Preloader css start */
#preloader {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2147483647;
  width: 100%;
  height: 100%;
}

#status {
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Preloader css End */

/* Other CSS */
iframe {
  width: 100%;
}

.wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(214, 214, 214, 0.78);
  opacity: 0;
  border-radius: 100%;
  right: -30px;
  bottom: -65px;
  z-index: -1;
  animation: waves 3s ease-in-out infinite;
}
.wrapper .wave-1 {
  animation-delay: 0s;
}
.wrapper .wave-2 {
  animation-delay: 1s;
}
.wrapper .wave-3 {
  animation-delay: 2s;
}
@keyframes waves {
  0% {
    transform: scale(0.2, 0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
}

.animate-top-y {
  animation-name: top-y;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes top-y {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}
@keyframes rotate {
  20%, 80% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #fff;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

.form-control:focus {
  box-shadow: none;
  background-color: none;
  border: none;
}
/* Other CSS */

/**
 * 2.2 Header
 *
 * Header includes navbar styles.
 */

 /* Header css start */
.main-header-wrapper1 {
  position: relative;
  z-index: 999;
}

.main-header-wrapper1 .open {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2784313725);
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .index1-logo .normal-logo {
  object-fit: cover;
  width: 150px;
  float: left;
  padding: 30px 0px;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .index1-logo .sticky-logo {
  display: none;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav {
  padding: 0px 10px;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li {
  position: relative;
  padding: 34px 0px;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a {
  color: #fff;
  padding: 0px 13px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li a span {
  font-size: 10px;
  margin-left: 3px;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items {
  position: absolute;
  background-color: #e9f0fa;
  z-index: 999;
  top: 97px;
  display: none;
  width: 250px;
  left: 0;
  border-radius: 8px;
  padding: 20px 0px;
  box-shadow: 0 1px 6px 0 rgba(32, 34, 36, 0.2784313725);
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items li {
  padding: 3px 8px;
  margin: 0;
  position: relative;
  transition: all 0.5s;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items li a {
  color: #111;
  font-size: 14px;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items li:hover:after {
  display: none;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .dropdown-items li:hover a {
  color: #0060aa;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 nav ul li .menu-open4 {
  width: 600px;
  padding: 30px;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 {
  padding-top: 0px;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop {
  position: relative;
  padding-top: 5px;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop .post-btn {
  display: inline-block;
  border: 1px solid #0060aa;
  background-color: #0060aa;
  color: #fff;
  width: 140px;
  text-align: center;
  height: 45px;
  line-height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop .post-btn:after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: -38%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  background: #f2f5fc;
  transition: all 0.3s;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop .post-btn:hover {
  border: 1px solid #0060aa;
  color: #0060aa;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop .post-btn:hover span {
  z-index: 11;
  position: relative;
  color: #0060aa;
}

.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop .post-btn:hover:after {
  height: 100%;
  width: 135%;
  transition: all 0.3s;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop .post-page-wrapper {
  position: absolute;
  background-color: #e9f0fa;
  z-index: 999;
  top: 72px;
  display: none;
  width: 160px;
  left: 0;
  border-radius: 8px;
  padding: 20px 0px;
  box-shadow: 0 1px 6px 0 rgba(32, 34, 36, 0.2784313725);
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 .post-drop .post-page-wrapper a {
  display: block;
  padding: 3px 21px;
}
.main-header-wrapper1 .sb-main-header1 .menu-item-wrapper3 li + li {
  margin-left: 20px;
}


.inner-main-header .sb-main-header1 .menu-item-wrapper3 nav ul li a {
  color: #111;
}

.inner-main-header .sb-main-header1 .menu-fixed .social-media-icons li .post-btn {
  border: 1px solid #0060aa;
  background-color: #0060aa;
}

.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111111;
  z-index: 10000;
  -o-box-shadow: 0px 0px 25px -10px;
  -ms-box-shadow: 0px 0px 25px -10px;
  box-shadow: 0px 0px 15px -15px;
}
/* Header css end */

/**
 * 2.3 Inner CSS
 *
 * Inner CSS includes form styles for post projects.
 */

 /* Inner css Start */
.inner-main-header {
  background-color: #fff;
}
.inner-main-header .sb-main-header1 .menu-item-wrapper3 nav ul li a {
  color: #111;
}

.inner-main-header .sb-main-header1 .menu-fixed .index1-logo .sticky-logo {
  display: block;
  object-fit: cover;
  width: 150px;
  float: left;
  padding: 30px 0px;
}
.inner-main-header .sb-main-header1 .menu-fixed .index1-logo .normal-logo {
  display: none;
}
.inner-main-header .sb-main-header1 .menu-fixed nav ul li a {
  color: #fff;
}

.inner-page-main-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}


.inner-page-main-wrapper .post-project-main-wrapper {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 40px;
  margin-top: 30px;
}

.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form h4 {
  font-size: 22px;
  padding-bottom: 15px;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 0px 24px;
  height: 50px;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group .select-field {
  position: relative;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group .select-field select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 0px 24px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group .select-field:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #797979;
  right: 22px;
  bottom: 22px;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
  z-index: 1;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group .file-doc {
  border: none;
  padding: 0;
  border-radius: 0;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group label {
  margin-bottom: 14px;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .form-group textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 24px;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .budget_input_wrap {
  display: flex;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .budget_input_wrap .budget_input {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper form .budget_input_wrap .budget_input + .budget_input {
  padding-left: 12px;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper .custom-btn {
  display: inline-block;
  border: 1px solid #0060aa;
  background-color: #0060aa;
  color: #fff;
  width: auto;
  padding: 0 25px;
  float: right;
  text-align: center;
  height: 45px;
  line-height: 40px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper .custom-btn:after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: -38%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  background: #fff;
  transition: all 0.3s;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper .custom-btn:hover {
  border: 1px solid #0060aa;
  color: #0060aa;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper .custom-btn:hover span {
  z-index: 11;
  position: relative;
  color: #0060aa;
}
.inner-page-main-wrapper .post-project-main-wrapper .post-form-wrapper .custom-btn:hover:after {
  height: 100%;
  width: 135%;
  transition: all 0.3s;
}
.inner-page-main-wrapper .post-project-main-wrapper .pripoli_text h4 {
  font-size: 22px;
  padding-bottom: 12px;
}
.inner-page-main-wrapper .post-project-main-wrapper .pripoli_text h5 {
  font-size: 18px;
}
.inner-page-main-wrapper .post-project-main-wrapper .pripoli_text p {
  padding-top: 6px;
  line-height: 24px;
}
/* Inner css end */


/**
 * 2.4 Footer CSS
 *
 * Footer styles.
 */

 /* Footer css Start */
.footer-main-wrapper .bottom-footer {
  background-color: #000;
  margin-top: 50px;
  padding: 30px 0px;
  text-align: center;
}
.footer-main-wrapper .bottom-footer p {
  color: rgba(255, 255, 255, 0.6588235294);
}
/* Footer css end */

/* return to top start */
#return-to-top {
  position: fixed;
  bottom: 43px;
  right: 30px;
  display: block;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  line-height: 50px;
  font-size: 24px;
  background: #e12454;
  transition: all 0.3s ease;
  z-index: 1000;
  color: #fff;
  animation: jump 1s ease-in alternate infinite;
}

#return-to-top i {
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  transition: all 0.3s ease;
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
/* return to top start */


/* custom container */
.custom-container {
  max-width: 1700px;
}

/* Track */
.custom-check::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-check::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-check::-webkit-scrollbar-thumb {
  background: #0060aa;
}

/* Handle on hover */
.custom-check::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-header-wrapper1 .menu-fixed .social-media-icons .login-btn .user-text a {
  color: #111;
}/*# sourceMappingURL=style.css.map */