body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* General background color for the body */
}
header {
    background-image: url("../Images/home_bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
img{
    max-width: 100%;
}

.header-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

img {
    margin-left: 40px;
}
nav {
    flex-grow: 1;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a, .login-container button.login{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 20px;
    transition: all 0.1s ease;
    cursor: pointer;
    border: none;
    cursor: pointer;
    background: none;
}
/*about part*/
.about{
    background-image: url("../Images/about_us.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem,auto));
    gap:2rem;
}
.about-Images img{
    border-radius: 3rem 0 3rem 3rem;
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
}
/* Contact Part*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100ox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../Images/p4.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h4{
    font-size: 36px;
    font-weight: 500;
    font-weight: bold;
    color: black;
}
.contact .content p{
    
    font-weight: 300;
    color: #fff;
    font-weight: bold;
    line-height: normal; 
}
.contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.contact .container .contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.contact .container .contactInfo .box{
    position: relative;
    padding: 20px o;
    display: flex;
}
.contact .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.contact .container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
    font-weight: bold;
}
.contact .contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contact.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: bold;
}
.contact .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact .contactForm .inputBox input, .contact .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contact .contactForm .inputBox input:focus ~ span, .contact .contactForm .inputBox input:valid ~ span
.contact .contactForm .inputBox textarea:focus ~ span, .contact .contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .contact .container{
        flex-direction: column;
    }
    .contact .container .contactInfo{
        margin-bottom: 40px;
    }
    .contact .container .contactInfo, .contactForm{
          width: 100%;
    }
}
.login-container p {
    color: white;
    font-size: 18px;
    margin-right: 20px;
}
.login-container button.login:hover {
    border-bottom: 1px solid white; /* Adds an underline on hover, similar to menu items */
}
.login-container button.register, .login-container button.logout{
    display: inline-block;
    padding: 8px 40px; 
    /* adjust pADDING TO 40 ABOVE IF DOESNT WORK!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.login-container button.register:hover,  .login-container button.logout:hover {
    background-color: #bec6cf; /* Darker shade on hover for visual feedback */
}

nav ul li a:hover {
    border-bottom: 1.5px solid white;
}

.login-container { /*login and register both */
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: flex-end;
}
.bottom-header{
    text-align: left;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto; 
    max-width: 50%;
    font-family: serif
}
input[type="text"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; /* Adds a light grey border */
    border-radius: 10px; /* Applies rounded corners with a radius of 10px */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
    color: #333; 
    background-color: #fff; /
}
/*MAIN BODY*/

main {
    width: calc(100% - 40px); /* Subtracting 40px to account for 20px margin on both sides */
    margin: 20px auto;
    background: white; /* Specific background for content areas */
    padding: 20px;
}
section#services {
    
    width: 100%; /* Ensures the section takes full width of its parent */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    padding: 30px 0;
}

section#services ul {
    display: grid;
    width: 100%; 
    grid-template-columns: repeat(4, 1fr); /* Creates four equal columns */
    grid-gap: 10px; 
    padding: 0;
    margin: 0 auto; /* Center the list in the section */
}

section#services ul li {
    background-image: url("../Images/p2.png");
    background-repeat: no-repeat;
    height: 100px; /*height for each item */
    padding-top: 150px; /* Extra space for the icon */
    border-radius: 40px;
    color: #333;
    font-weight: bold;
    font-size: larger;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center; 
    align-items: center; 
}
section#services ul li:hover{
    transform: translateY(-10px);
    transition: .4s;
} 
/*Footer part*/
footer{
    background-color: #10143b;
}
.footerContainer{
 width: 100%;
 padding: 10px 10px 10px;
}
.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover Effects On Social medial Icons*/
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
    color: red;
}
.footerBottom{
    background-color: #10143b;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:  0px 5px;
}
/* Message styles */
ul.messages {
    max-width: 400px;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

ul.messages li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

/* Specific styles for different message tags */
ul.messages li.error {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    border: 1px solid #f5c6cb; /* Red border */
}

ul.messages li.success {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    border: 1px solid #c3e6cb; /* Green border */
}

ul.messages li.info {
    background-color: #d1ecf1; /* Light blue background */
    color: #0c5460; /* Dark blue text */
    border: 1px solid #bee5eb; /* Blue border */
}

ul.messages li.warning {
    background-color: #fff3cd; /* Light yellow background */
    color: #856404; /* Dark yellow text */
    border: 1px solid #ffeeba; /* Yellow border */
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
    nav ul {
    flex-direction: column; /* Stack items vertically on small screens */
    }

    nav ul li {
        margin: 0.1rem 0; /* Adjust margin for stacked items */
    }

    nav ul li a {
        font-size: 0.8rem; /* Adjust font size for better readability */
        padding: 0.75rem 1.5rem; /* Adjust padding */
        
    }
    .login-container button.login:hover, nav ul li a:hover  {
       
        
            border-bottom: 0.5px solid white; /* Adds an underline on hover, similar to menu items */
            position: relative;
            bottom: 0px; /* Adjust the value to position the line higher */
            padding: 4px 10px;
        
    }
    .bottom-header{
        display: none;
    }

}
section {
    margin-bottom: 20px;
}


