body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* General background color for the body */
}
header {
    background-image: url("../Images/home_bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
img{
    max-width: 100%;
}

.header-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

img {
    margin-left: 40px;
}
nav {
    flex-grow: 1;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a, .login-container button.login{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 20px;
    transition: all 0.1s ease;
    cursor: pointer;
    border: none;
    cursor: pointer;
    background: none;
}
/*about part*/
.about{
    background-image: url("../Images/about_us.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem,auto));
    gap:2rem;
}
.about-Images img{
    border-radius: 3rem 0 3rem 3rem;
}

.about-text h2{
    front-size: 1.7rem;
}

.about-text p {
    front-size: 0.938rem;
    margin: 1rem 0 1rem;
}

.login-container p {
    color: white;
    font-size: 18px;
    margin-right: 20px;
}
.login-container button.login:hover {
    border-bottom: 1px solid white; /* Adds an underline on hover, similar to menu items */
}
.login-container button.register, .login-container button.logout{
    display: inline-block;
    padding: 8px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.login-container button.register:hover,  .login-container button.logout:hover {
    background-color: #bec6cf; /* Darker shade on hover for visual feedback */
}

nav ul li a:hover {
    border-bottom: 2px solid white;
}

.login-container { /*login and register both */
    margin-right: 90px;
    display: flex;
    align-items: center;
}
.bottom-header{
    text-align: left;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto; 
    max-width: 50%;
    font-family: serif
}
input[type="text"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; /* Adds a light grey border */
    border-radius: 10px; /* Applies rounded corners with a radius of 10px */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
    color: #333; 
    background-color: #fff; /
}
/*MAIN BODY*/

main {
    width: calc(100% - 40px); /* Subtracting 40px to account for 20px margin on both sides */
    margin: 20px auto;
    background: white; /* Specific background for content areas */
    padding: 20px;
}
section#services {
    
    width: 100%; /* Ensures the section takes full width of its parent */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    padding: 30px 0;
}

section#services ul {
    display: grid;
    width: 100%; 
    grid-template-columns: repeat(4, 1fr); /* Creates four equal columns */
    grid-gap: 10px; 
    padding: 0;
    margin: 0 auto; /* Center the list in the section */
}

section#services ul li {
    background-image: url("../Images/p2.png");
    background-repeat: no-repeat;
    height: 100px; /*height for each item */
    padding-top: 150px; /* Extra space for the icon */
    border-radius: 40px;
    color: #333;
    font-weight: bold;
    font-size: larger;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center; 
    align-items: center; 
}
section#services ul li:hover{
    transform: translateY(-10px);
    transition: .4s;
} 
/*Footer part*/
footer{
    background-color: #10143b;
}
.footerContainer{
 width: 100%;
 padding: 10px 10px 10px;
}
.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover Effects On Social medial Icons*/
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
    color: red;
}
.footerBottom{
    background-color: #10143b;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:  0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
section {
    margin-bottom: 20px;
}


