<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Just a Job{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1>Just a Job</h1>
        <nav>
            <ul>
                <li><a href="{% url 'profiles:update_profile' %}">Update Profile</a></li>
                <li><a href="{% url 'profiles:view_profile' id=request.user.id %}">View Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Just a Job</p>
    </footer>
</body>

</html>