<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustaJob</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'freelance_webpage/CSS/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header-top">
            <img src="{% static 'freelance_webpage/Images/logo.png' %}" alt="Company Logo" style="height: 30px;">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">services</a></li>
                    <li><a href="#browsejobs">Browse Jobs</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#joybangla">Contact</a></li>
                </ul>
            </nav>
            <div class="login-container">

                {% if user.is_authenticated %}
                <p>Welcome, {{ user.first_name }}!</p>
                <form action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% else %}

                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="login">Sign in</button>
                </form>

                <form action="{% url 'register' %}">
                    {% csrf_token %}
                    <button type="submit" class="register">Join</button>
                </form>
                {% endif %}
                <!-- end statement here -->
                <p id="welcomeMessage" style="color: white;"></p>
            </div>
        </div>
        <div class="bottom-header">
            <p>Tap into expert talent, no matter where you are get your tasks done remotely!</p>
            <input type="text" placeholder="What are you looking for? " class="header-input">
        </div>
    </header>
    <main>
        <!--Home Part-->
        <section id="home">
            <h2>Hire Experts Based on Category</h2>
            <h4>Find experts from 10+ skills</h4>
        </section>
        <!--Services Part-->
        <section id="services">
            <ul>
                <li><i class="fa-solid fa-laptop-file"></i> Development & Coding</li>
                <li> <i class="fa-solid fa-pen-nib"></i>Design & Creative</li>
                <li><i class="fa-solid fa-building-user"></i>Digital Marketing</li>
                <li> <i class="fa-solid fa-pen"></i>Writing & Translation</li>
                <li><i class="fa-solid fa-video"></i>Video & Music</li>
                <li><i class="fa-sharp fa-solid fa-pen-fancy"></i>3D Design</li>
                <li><i class="fa-solid fa-business-time"></i>Business</li>
                <li><i class="fa-solid fa-building-user"></i>AI</li>
            </ul>
        </section>
    </main>
    <!--About Part-->
    <section class="about container"=id="about">
        <div class="about-Images">
            <Images src="Images/about_us.png" alt="project 1">
        </div>
        <div class="about-text">

            <h2>We provide the best <br> services For You !</h2>
            <p>Our team consists of industry experts passionate about the freelancing world.
            <p>Join a vibrant community with plenty of networking and growth opportunities.
            <p>Collaborating with industry leaders to provide top-notch freelance services.
            <p>We implement robust security measures and verify users to ensure peace of mind.
            <p>work with clients on our platform to take your career to the next level
            <p>Check out real stories of successful collaborations and satisfied users. </p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>
    <!--Footer part-->
    <footer>
        <div class="footerContainer">
            <div class="socialicons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">services</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <p>CopyRight &copy;2024; Designed by <span class="designer">Team06</span></p>
        </div>
    </footer>
    <script>
        function login() {
            // Placeholder for login functionality
            console.log("Login functionality placeholder");
        }

        function register() {
            // Placeholder for register functionality
            console.log("Register functionality placeholder");
        }
    </script>
</body>

</html>